/* Nav */
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 15px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 1px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-weight: 500;
    background: rgb(33, 150, 243);
}

.navbar .navbar-brand,
.navbar .navbar-nav li a {
    color: rgb(255, 255, 255);
}

.navbar .navbar-toggle .icon-bar {
    background: rgb(255, 255, 255);
}

.navbar .navbar-nav li.active a, 
.navbar .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a {
    color: rgb(255, 255, 255) !important;
    background: rgba(255, 255, 255, .3) !important;
}

.navbar a:focus,
.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

/* Header */
header {
    text-align: center;
    color: #fff;
    background: #607D8B  ;
}

header .container {
    padding-top: 75px;
    padding-bottom: 25px;
}

header .container .img-responsive {
    height: 150px;
    display: block;
    margin: 20px auto 0;
    border: 2px solid rgb(68, 68, 68);
}

header .intro-text .name {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0;
}

header .intro-text hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: 0;
}

header .intro-text .developer {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 0;
}

@media(min-width:768px) {
    header .container {
        padding-top: 125px;
        padding-bottom: 25px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }

    header .intro-text .developer {
        font-size: 1.6em;
    }
}

/* Buttons */
.btn-outline {
    border: solid 2px #000;
    font-size: 20px;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #000;
    color: #18bc9c;
    background: #fff;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}