/* Nav */
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 15px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 1px 0;
    }
    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-weight: 500;
    background: #2196f3;
}

.navbar .navbar-brand,
.navbar .navbar-nav li a {
    color: #fff;
}

.navbar .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar .navbar-nav li.active a,
.navbar .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a {
    color: #fff !important;
    background: rgba(255, 255, 255, .3) !important;
}

.navbar a:focus,
.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}
/* Header */

header {
    text-align: center;
    color: #fff;
    background: #607d8b;
}

header .container {
    padding-top: 75px;
    padding-bottom: 25px;
}

header .container .img-responsive {
    height: 150px;
    display: block;
    margin: 0 auto 10px;
    border: 2px solid rgb(68, 68, 68);
}

header .intro-text .name {
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0;
}

header .intro-text hr {
    width: 275px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 10px;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: 0;
}

header .intro-text .developer {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 0;
}

header .intro-text {
    margin-bottom: 10px;
}

header ul.social-buttons {
    margin-top: 5px;
}

header ul.social-buttons li a:hover,
header ul.social-buttons li a:focus,
header ul.social-buttons li a:active {
    color: #607d8b;
    background-color: #fff;
}

header .btn-outline:hover {
    border: solid 2px #fff;
    background: #fff;
    color: #607d8b;
}

@media(min-width:768px) {
    header .container {
        padding-top: 125px;
        padding-bottom: 25px;
    }
    header .container .img-responsive {
        margin: 0 auto 20px;
    }
    header .intro-text hr {
        width: 450px;
        margin: 0 auto 15px;
    }
    header .intro-text .name {
        font-size: 4.75em;
    }
    header .intro-text .skills {
        font-size: 1.75em;
    }
    header .intro-text .developer {
        font-size: 1.6em;
    }
    header ul.social-buttons {
        margin-top: 15px;
    }
    header .intro-text {
        margin-bottom: 20px;
    }
}
/* Sections */

section {
    padding-top: 65px;
}
/* Footprints */

#footprints-quote {
    background-image: url('../img/footprints.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 0;
}

#footprints-quote .quote {
    font-size: 1.75em;
    font-weight: 500;
    margin-bottom: 0;
}

#footprints-quote .author {
    font-size: 1.6em;
    font-weight: 300;
    margin-bottom: 0;
}

/* Projects */
#projects .heading {
    margin-bottom: 10px;
}

#projects nav {
    margin-bottom: 30px;
}

#projects nav .nav-tabs > li,
.nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

#projects nav .nav-tabs li a {
    padding: 10px 25px;
}

#projects .project-item {
    margin: 0 0 15px;
}

#projects .project-item .project-link {
    display: block;
    position: relative;
}

#projects .project-item .project-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(33,150,243,.8);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#projects .project-item .project-link .caption:hover {
    opacity: 1;
}

#projects .project-item .project-link .caption .caption-content {
    position: relative;
    top: 50%;
    width: 100%;
    padding: 0 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#projects .project-item .project-link .caption .caption-content h3 {
    text-align: center;
    color: #fff;
    margin: 0;
}

#projects .project-item .project-link .caption .caption-content p {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

@media(min-width:767px) {
    #projects .project-item {
        margin: 0 0 30px;
    }
}

    
/* Buttons */

.btn-outline,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    font-size: 20px;
    background: 0 0;
    transition: all .3s ease-in-out;
    color: #fff;
}

.btn-outline:focus {
    border: solid 2px #000;
    color: #000;
}

.btn-outline:hover {
    border: solid 2px #fff;
    background: #fff;
    color: #2196f3;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}
    
/* Social icons */
ul.social-buttons li a {
    display: block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    color: #2196f3;
    background-color: #fff;
}
    
/* Footer */

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
}

footer ul.social-buttons {
    margin-bottom: 0;
}

footer ul.social-buttons li a {
    border-radius: 100%;
    color: #2196f3;
    background-color: #fff;
}

footer ul.social-buttons li a:hover,
footer ul.social-buttons li a:focus,
footer ul.social-buttons li a:active {
    color: #fff;
    background-color: #2196f3;
}