---
---

.title-group {
    text-align: center;
    padding: 0 15px;
    margin: 50px 0 100px;
}

.title-group p {
    max-width: 800px;
    margin: 25px auto 0;
}

h1.special {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
}

@media(min-width:480px) {
    h1.special {
        font-size: 69px;
        line-height: 69px;
    }
}

h1.special span {
    display: inline-block;
    position: relative;
    padding: 0 15px;
    max-width: 1000px;
}

h1.special span:before,
h1.special span:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background: #e8e8e8;
    width: 99999999px;
    top: 50%;
    transform: translateY(-50%);
}

h1.special span:before {
    left: 100%;
}

h1.special span:after {
    right: 100%;
}

.tile {
    position: relative;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
    margin-bottom: 125px;
}

.tile .inner-guts {
    padding: 15px 25px;
}

@media(min-width:480px) {
    .tile .inner-guts {
        padding: 50px;
    }
}

.tile h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.05em;
    line-height: 44px;
}

@media(min-width:480px) {
    .tile h2 {
        font-size: 100px;
        line-height: 100px;
    }
}

.tile .featurette {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    width: 100%;
    height: 300px;
    background-color: #e8e8e8;
}

@media(min-width:480px) {
    .tile .featurette {
        height: 550px;
    }
}

.tile .featurette:hover .img {
    transform: scale(1.2);
}

.tile .featurette:hover .img:before {
    opacity: 0.2;
}

.tile .featurette .img {
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 225ms ease;
    transform: scale(1);
}

.tile .featurette .img:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    background: #000;
    opacity: 0.4;
    transition: all 225ms ease;
}

.tile .featurette iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tile .excerpt {
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    color: #484848;
}

@media(min-width:480px) {
    .tile .excerpt {
        font-size: 35px;
        line-height: 49px;
    }
}

.tile .excerpt p {
    margin: 0;
}

.tile .tags {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 15px;
}

.tile .tags span {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
}

.tile .read-more {
    margin-top: 50px;
    width: 100%;
    max-width: 175px;
    position: relative;
    padding-right: 75px;
}

.tile .read-more i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-54%);
    font-size: 31px;
    line-height: 100%;
}

aside {
    font-size: 17px;
    color: #525252;
    margin: 16px 0;
}

aside span {
    text-transform: uppercase;
    margin: 0 5px;
}

.site-footer {
    margin-top: 200px;
}

.pagination-wrap {
    text-align: center;
}

.topper {
    height: 300px;
    position: relative;
}

@media(min-width:480px) {
    .topper {
        height: 500px;
    }
}

.topper .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.topper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

@media(min-width:480px) {
    pre {
        margin-left: 0;
        margin-right: 0;
    }
}

@media(min-width:992px) {
    pre {
        margin: 75px -100px;
    }
}
