<div class="modal fade" id="wackyBatModal" tabindex="-1" role="dialog" aria-labelledby="wackyBatModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="wackyBatModalTitle">Wacky Bat: Swoop Outta Dodge</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p class="text-center lead">An endless 2D mobile arcade game, with increasing difficulty and simple controls</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="img/projects/wackybat/wacky-bat.png" alt="Wacky Bat main menu" class="img-responsive center-block" />
                        </div>
                        <div class="col-sm-6 screenshot">
                            <img src="img/projects/wackybat/wacky-bat2.png" alt="Wacky Bat gameplay" class="img-responsive center-block" />
                        </div>
                        <div class="col-sm-6 description">
                            <p>An addictive free-to-play mobile game, that uses simple one-touch controls. The aim is to fly as far as you can, collecting fruit along the way whilst avoiding a variety of obstacles and trying to beat your previous score.</p>
                            <p>Features include: obstacle spawning using changing probabilities; Google Play Games/Game Center integration; sound and particle effects; increasing difficulty and a custom developed menu system.</p>
                            <p>Please see the <a href="http://www.blastcapgames.com/">Blast Cap Games website</a> for more information.</p>
                        </div>
                        <div class="col-sm-6 description">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Language: </strong>C#, Unity3D</li>
                                <li class="list-group-item"><strong>Platform: </strong>Android, iOS</li>
                            </ul>
                            <p class="google-play-badge">
                                <a href="http://apple.co/1H4JrFw"><img src="img/apple-app-store-badge.png" alt="Download Wacky Bat" />
                                </a>
                                <a href="http://bit.ly/1IDLQN7"><img src="img/google-play-badge.png" alt="Download Wacky Bat" />
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
