<div class="modal fade" id="olympoidModal" tabindex="-1" role="dialog" aria-labelledby="olympoidModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="olympoidModalTitle">Olympoid</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p class="text-center lead">A 3D model created and rendered using Maya polygon modelling</p>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <img src="img/projects/olympoid/olympoid.png" class="img-responsive center-block" alt="Ray tracer render" />
                        </div>
                        <div class="col-sm-6 description">
                            <p>All geometry was created from scratch using polygonal modelling and the various tools within Maya. A lighting rig was setup with textures and shaders applied to the model. The robot features a strengthened upper body, cables to power each part of the body and limbs to allow it to easily compete in various Olympic events.</p>
                        </div>
                        <div class="col-sm-5 description">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Language: </strong>Autodesk Maya</li>
                                <li class="list-group-item"><strong>Platform: </strong>Linux, Windows, Mac</li>
                                <li class="list-group-item"><strong>Availability: </strong>University project</li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
