<div class="modal fade" id="personalWebModal" tabindex="-1" role="dialog" aria-labelledby="personalWebModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="personalWebModalTitle">Personal Website</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p class="text-center lead">My online portfolio that follows responsive design</p>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <img src="img/projects/personalweb/personal-web.png" class="img-responsive center-block" alt="Personal website home page" />
                        </div>
                        <div class="col-sm-6">
                            <p>Developed to showcase my projects and skills. To help make it responsive, I used <a href="http://getbootstrap.com/">Bootstrap</a>, using the <a href="https://bootswatch.com/paper/">Paper theme</a>. It scales correctly for screen sizes from mobile phones up to large desktops.</p>
                        </div>
                        <div class="col-sm-5">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Language: </strong>HTML, CSS, JavaScript, PHP</li>
                                <li class="list-group-item"><strong>Platform: </strong>Web</li>
                                <li class="list-group-item"><strong>Availability: </strong><a href="http://www.andrew-lord.co.uk">andrew-lord.co.uk</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
