<div class="modal fade" id="dinnerTimeModal" tabindex="-1" role="dialog" aria-labelledby="dinnerTimeModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="dinnerTimeModalTitle">Dinner Time</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p class="text-center lead">Dinner Time is a meal-timing assistant app for Android.</p>
                    <div class="row">
                        <div class="col-sm-5">
                            <img src="img/projects/dinnertime/dinner-time.png" class="img-responsive center-block" alt="Dinner time home screen" />
                        </div>
                        <div class="col-sm-6">
                            <ul class="description">
                                <li>Uses the latest Android features: Navigation Drawer, Fragments, Card Views and Material Design.</li>
                                <li>The concept is for you to be able to setup multiple timers for each component of a meal and for the app to tell you when each part needs to start cooking. The aim is for it to take the complexity out of timing complex meals.</li>
                            </ul>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Language: </strong>Java, Android</li>
                                <li class="list-group-item"><strong>Platform: </strong>Android</li>
                                <li class="list-group-item"><strong>Availability: </strong>In Development</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
