<div class="modal fade" id="resonanceModal" tabindex="-1" role="dialog" aria-labelledby="resonanceModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="resonanceModalTitle">Resonance</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p class="text-center lead">A co-operative multi-player game developed for the Xbox 360</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="img/projects/resonance/resonance.png" alt="Resonance main menu" class="img-responsive center-block" />
                        </div>
                        <div class="col-sm-6 screenshot">
                            <img src="img/projects/resonance/resonance2.png" alt="Resonance gameplay" class="img-responsive center-block" />
                        </div>
                        <div class="col-sm-6 description">
                            <p>It is a co-operative game with one player controlling the movement of the on-screen character using a standard Xbox 360 controller, while the other uses the drum kit controller to attack the enemies. It combines action with music-based rhythmic game-play. The game was developed as part of a team of six at university.</p>
                            <p>
                                <a href="https://github.com/andrewlord1990/resonance-game" class="btn btn-lg btn-outline"><i class="fa fa-github"></i> Github</a>
                            </p>
                        </div>
                        <div class="col-sm-6 description">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Language: </strong>C#, XNA Game Studio</li>
                                <li class="list-group-item"><strong>Platform: </strong>Xbox 360, Windows</li>
                                <li class="list-group-item"><strong>Availability: </strong><a href="https://github.com/andrewlord1990/resonance-game">Github</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
