<div class="modal fade" id="fypModal" tabindex="-1" role="dialog" aria-labelledby="fypModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="fypModalTitle">Thesis Project</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p class="text-center lead">A Reinforcement Learning framework for the game, Robocode</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="img/projects/fyp/fyp-main.png" alt="Final year project thesis" class="img-responsive center-block" />
                        </div>
                        <div class="col-sm-6 screenshot">
                            <img src="img/projects/fyp/fyp.png" alt="Robocode project RL robot battle" class="img-responsive center-block" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Robocode is an open source Java game, that allows programmed robots to fight each other in battles. My thesis project consisted of research into using Reinforcement Learning algorithms to learn a robot behaviour for the game Robocode. Development consisted of a framework to allow people to play robots that have learned their behaviour in the game. The Reinforcement Learning algorithm managed to learn a behaviour that could beat many advanced hand-coded robots.</p>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Language: </strong>Java</li>
                                <li class="list-group-item"><strong>Platform: </strong>Windows, Linux, Mac</li>
                                <li class="list-group-item"><strong>Availability: </strong> Please contact me</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
