<div class="modal fade" id="crosscrownModal" tabindex="-1" role="dialog" aria-labelledby="crosscrownModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="crosscrownModalTitle">Crosscrown Ltd Website</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p class="text-center lead">Company website showcasing their selection of care homes to potential new residents</p>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <img src="img/projects/crosscrownweb/crosscrownweb.png" class="img-responsive center-block" alt="Crosscrown Ltd website" />
                        </div>
                        <div class="col-sm-6">
                            <p>Created in 2011 as the company's first website, to represent them online. In 2014, I rewrote it from scratch using Bootstrap to make it fully responsive and to give it a much more modern design.</p>
                        </div>
                        <div class="col-sm-5">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Language: </strong>HTML, CSS, JavaScript, PHP</li>
                                <li class="list-group-item"><strong>Platform: </strong>Web</li>
                                <li class="list-group-item"><strong>Availability: </strong><a href="http://www.rugbycarehomes.co.uk">rugbycarehomes.co.uk</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
