<div class="modal fade" id="raytracerModal" tabindex="-1" role="dialog" aria-labelledby="raytracerModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="raytracerModalTitle">Ray Tracer</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p class="text-center lead">A ray tracing application, written in C++ at university</p>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <img src="img/projects/raytracer/raytracer-main.png" class="img-responsive center-block" alt="Ray tracer render" />
                        </div>
                        <div class="col-sm-6 description">
                            <p>A programming project in computer graphics. The ray tracer is capable of producing a rendered image of the scene. Many features were implemented including various 3D shapes, lighting, shadows, reflections, Lambert and Phong materials, bounding volumes and flat triangle meshes.</p>
                        </div>
                        <div class="col-sm-5 description">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Language: </strong>C++</li>
                                <li class="list-group-item"><strong>Platform: </strong>Linux, Windows, Mac</li>
                                <li class="list-group-item"><strong>Availability: </strong>University project</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
