<div class="modal fade" id="rdaModal" tabindex="-1" role="dialog" aria-labelledby="rdaModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="rdaModalTitle">RDA (Running Digital Assistant)</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p class="text-center lead">RDA is a running assistant app for Android.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="img/projects/rda/rda.png" class="img-responsive center-block" alt="Dinner time home screen" />
                        </div>
                        <div class="col-sm-5">
                            <p class="description">An app written as a group for a university project. RDA monitors your runs, detecting if you are running a previous route or a new one. It features text-to-speech feedback on your progress as well as music playback controlled with motion controls. Music genres can be linked to different running speeds, for selecting the next track.</p>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Language: </strong>Java</li>
                                <li class="list-group-item"><strong>Platform: </strong>Android</li>
                                <li class="list-group-item"><strong>Availability: </strong>University project</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
