        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">{{ site.data.global.footer_text }}</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li><a href="https://github.com/andrewlord1990"><i class="fa fa-github"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/pub/andrew-lord/99/ba4/60b/en"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks page-scroll">
                            <li><a href="#page-top">Return to Top</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <div class="scroll-top page-scroll visible-xs visble-sm">
            <a class="btn btn-primary" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>

        <script src="{{ site.data.global.url }}/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{ site.data.global.url }}/bower_components/bootswatch-dist/js/bootstrap.min.js"></script>

        <script src="{{ site.data.global.url }}/js/ie10-viewport-bug-workaround.min.js"></script>

        <script src="{{ site.data.global.url }}/bower_components/jquery.easing/js/jquery.easing.min.js"></script>

        <script src="{{ site.data.global.url }}/bower_components/jqBootstrapValidation/dist/jqBootstrapValidation-1.3.7.min.js"></script>
        <script src="{{ site.data.global.url }}/js/contact.min.js"></script>

        <script src="{{ site.data.global.url }}/bower_components/isotope/dist/isotope.pkgd.min.js"></script>

        <script src="{{ site.data.global.url }}/js/floating-labels.min.js"></script>
        <script src="{{ site.data.global.url }}/js/main.min.js"></script>

    </body>
</html>
