<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="description" content="Andrew Lord: Android, Games, Software, Web - Developer and Designer">
    <meta name="author" content="Andrew Lord | www.andrew-lord.co.uk">

    <title>
      {% if page.title %}
          {{ page.title }} - {{ site.data.global.title }}
      {% elsif post.title %}
          {{ post.title }} - {{ site.data.global.title }}
      {% else %}
          {{ site.data.global.title }} - {{ site.data.global.description }}
      {% endif %}
    </title>

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.data.global.title }} - {{ site.data.global.description }}" href="/feed.xml">
    <link rel="alternate" type="application/atom+xml" title="{{ site.data.global.title }} - {{ site.data.global.description }}" href="/atom.xml">

    <!-- Favicons -->
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="{{ site.data.global.url }}/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.data.global.url }}/img/favicons/favicon-57.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.data.global.url }}/img/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.data.global.url }}/img/favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.data.global.url }}/img/favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.data.global.url }}/img/favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="96x96" href="{{ site.data.global.url }}/img/favicons/favicon-96.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.data.global.url }}/img/favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.data.global.url }}/img/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.data.global.url }}/img/favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.data.global.url }}/img/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.data.global.url }}/img/favicons/favicon-180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="{{ site.data.global.url }}/img/favicons/favicon-192.png">
    <meta name="application-name" content="{{ site.data.global.title }} - {{ site.data.global.description }}">
    <meta name="msapplication-TileImage" content="{{ site.data.global.url }}/img/favicons/favicon-144.png">
    <meta name="msapplication-TileColor" content="#ffffff">


    <link href="{{ site.data.global.url }}/bower_components/bootswatch-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.data.global.url }}/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ site.data.global.url }}/css/style.css">
    <link rel="stylesheet" href="{{ site.data.global.url }}/css/main.min.css">

    <!--[if lt IE 9]>
        <script src="{{ site.data.global.url }}/bower_components/html5shiv/dist/html5shiv.min.jshtml5shiv.min.js"></script>
        <script src="{{ site.data.global.url }}/bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-62352122-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body id="page-top">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ site.data.global.title }}</a>
            </div>

            <div class="collapse navbar-collapse" id="main-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% for item in site.data.nav.main %}
                        <li class="page-scroll">
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
