<div class="row post-image-container">
  <div class="col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-0">
    <div class="post-image thumbnail">
      {% if include.id0 %}
      <a href="#" data-toggle="modal" data-target="#{{ include.id0 }}">
      {% endif %}
        {% if include.img0 %}
        <img src="{{ site.url }}/img/{{ include.img0 }}" alt="{{ include.title0 }}" class="img-responsive"/>
        {% endif %}
        {% if include.imgFull0 %}
        <img src="{{ include.imgFull0 }}" alt="{{ include.title0 }}" class="img-responsive"/>
        {% endif %}
      {% if include.id0 %}
      </a>
      {% endif %}
      {% if include.caption0 %}
      <div class="caption text-center">
        <p>{{ include.caption0 }}</p>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-0">
    <div class="post-image thumbnail">
      {% if include.id1 %}
      <a href="#" data-toggle="modal" data-target="#{{ include.id1 }}">
      {% endif %}
        {% if include.img1 %}
        <img src="{{ site.url }}/img/{{ include.img1 }}" alt="{{ include.title1 }}" class="img-responsive"/>
        {% endif %}
        {% if include.imgFull1 %}
        <img src="{{ include.imgFull1 }}" alt="{{ include.title1 }}" class="img-responsive"/>
        {% endif %}
      {% if include.id1 %}
      </a>
      {% endif %}
      {% if include.caption1 %}
      <div class="caption text-center">
        <p>{{ include.caption1 }}</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
