{% include header.html %}

{% include page-title-heading.html %}

<section id="degree">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="img/bristol.png" class="img-responsive center-block" alt="University of Bristol" />
            </div>
        </div>
        <div class="row">
            <div id="degree-detail" class="col-md-12 text-center">
                <p class="lead">MEng Computer Science (First-class)</p>
                <p>Certificate of Achievement for the Best third year student in Computer Science, sponsored by <a href="http://www.netcraft.com/">Netcraft Ltd</a>.</p>
            </div>
        </div>
        <p>Here are some of the many units covered during my degree.</p>
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        Reinforcement Learning Framework for Robocode
                    </li>
                    <li class="list-group-item">
                        Mobile Development
                    </li>
                    <li class="list-group-item">
                        Games Project
                    </li>
                    <li class="list-group-item">
                        Computer Graphics
                    </li>
                    <li class="list-group-item">
                        Learning in Autonomous Systems
                    </li>
                    <li class="list-group-item">
                        Artificial Intelligence and Logic Programming
                    </li>
                    <li class="list-group-item">
                        Computer Architecture
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-group">
                    <li class="list-group-item">
                        Web Technologies
                    </li>
                    <li class="list-group-item">
                        Image Processing and Computer Vision
                    </li>
                    <li class="list-group-item">
                        Machine Learning
                    </li>
                    <li class="list-group-item">
                        Data Structures and Algorithms
                    </li>
                    <li class="list-group-item">
                        Procedural Programming
                    </li>
                    <li class="list-group-item">
                        Object-Oriented and Functional Programming
                    </li>
                    <li class="list-group-item">
                        Concurrency and Communications
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div id="software-quote" class="quote-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="quote-body">“Software is a great combination between artistry and engineering.”</p>
                <p class="quote-author">Bill Gates</p>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
