{% include header.html %}

{% include page-title-heading.html %}

<section id="projects">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <nav class="text-center">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#" data-filter="*" data-toggle="tab" aria-expanded="true">All</a>
                        </li>
                        <li class=""><a href="#" data-filter=".apps" data-toggle="tab" aria-expanded="false">Apps</a>
                        </li>
                        <li class=""><a href="#" data-filter=".web" data-toggle="tab" aria-expanded="false">Web</a>
                        </li>
                        <li class=""><a href="#" data-filter=".games" data-toggle="tab" aria-expanded="false">Games</a>
                        </li>
                        <li class=""><a href="#" data-filter=".software" data-toggle="tab" aria-expanded="false">Software</a>
                        </li>
                        <li class=""><a href="#" data-filter=".design" data-toggle="tab" aria-expanded="false">Design</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="isotope">

                    <div class="row">

                        <div class="col-sm-4 project-item games apps design">
                            <a href="#" class="project-link text-center" data-toggle="modal" data-target="#wackyBatModal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <h3>Wacky Bat</h3>
                                    </div>
                                </div>
                                <i class="zoom-indicator fa fa-search-plus fa-3x"></i>
                                <img src="img/projects/wackybat/wacky-bat-main.png" class="img-responsive" alt="Wacky Bat game" />
                            </a>
                        </div>

                        <div class="col-sm-4 project-item web design">
                            <a href="#" class="project-link" data-toggle="modal" data-target="#personalWebModal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <h3>Personal Website</h3>
                                    </div>
                                </div>
                                <i class="zoom-indicator fa fa-search-plus fa-3x"></i>
                                <img src="img/projects/personalweb/personal-web-main.png" class="img-responsive" alt="Personal website" />
                            </a>
                        </div>

                        <div class="col-sm-4 project-item apps design">
                            <a href="#" class="project-link center-block" data-toggle="modal" data-target="#dinnerTimeModal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <h3>Dinner Time</h3>
                                    </div>
                                </div>
                                <i class="zoom-indicator fa fa-search-plus fa-3x"></i>
                                <img src="img/projects/dinnertime/dinner-time-main.png" class="img-responsive" alt="Dinner Time app" />
                            </a>
                        </div>

                        <div class="col-sm-4 project-item web design">
                            <a href="#" class="project-link" data-toggle="modal" data-target="#crosscrownModal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <h3>Crosscrown Website</h3>
                                    </div>
                                </div>
                                <i class="zoom-indicator fa fa-search-plus fa-3x"></i>
                                <img src="img/projects/crosscrownweb/crosscrownweb-main.png" class="img-responsive" alt="Crosscrown Ltd Website" />
                            </a>
                        </div>

                        <div class="col-sm-4 project-item games">
                            <a href="#" class="project-link" data-toggle="modal" data-target="#resonanceModal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <h3>Resonance</h3>
                                    </div>
                                </div>
                                <i class="zoom-indicator fa fa-search-plus fa-3x"></i>
                                <img src="img/projects/resonance/resonance-main.png" class="img-responsive" alt="Resonance game" />
                            </a>
                        </div>

                        <div class="col-sm-4 project-item software">
                            <a href="#" class="project-link" data-toggle="modal" data-target="#raytracerModal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <h3>Ray tracer</h3>
                                    </div>
                                </div>
                                <i class="zoom-indicator fa fa-search-plus fa-3x"></i>
                                <img src="img/projects/raytracer/raytracer-main.png" class="img-responsive" alt="Ray tracer" />
                            </a>
                        </div>

                        <div class="col-sm-4 project-item design">
                            <a href="#" class="project-link" data-toggle="modal" data-target="#olympoidModal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <h3>Olympoid 3D</h3>
                                    </div>
                                </div>
                                <i class="zoom-indicator fa fa-search-plus fa-3x"></i>
                                <img src="img/projects/olympoid/olympoid-main.png" class="img-responsive" alt="Olympoid 3D model" />
                            </a>
                        </div>

                        <div class="col-sm-4 project-item software">
                            <a href="#" class="project-link" data-toggle="modal" data-target="#fypModal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <h3>Thesis Project</h3>
                                    </div>
                                </div>
                                <i class="zoom-indicator fa fa-search-plus fa-3x"></i>
                                <img src="img/projects/fyp/fyp-main.png" class="img-responsive" alt="Final year project" />
                            </a>
                        </div>

                        <div class="col-sm-4 project-item apps">
                            <a href="#" class="project-link" data-toggle="modal" data-target="#rdaModal">
                                <div class="caption">
                                    <div class="caption-content">
                                        <h3>RDA</h3>
                                    </div>
                                </div>
                                <i class="zoom-indicator fa fa-search-plus fa-3x"></i>
                                <img src="img/projects/rda/rda-main.png" class="img-responsive" alt="RDA app" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="footprints-quote" class="quote-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="quote-body">“We can only see a short distance ahead, but we can see plenty there that needs to be done.”</p>
                <p class="quote-author">Alan Turing</p>
            </div>
        </div>
    </div>
</div>

{% include modals/project-crosscrown-website.html %}
{% include modals/project-dinner-time.html %}
{% include modals/project-final-year-project.html %}
{% include modals/project-olympoid.html %}
{% include modals/project-personal-website.html %}
{% include modals/project-raytracer.html %}
{% include modals/project-rda.html %}
{% include modals/project-resonance.html %}
{% include modals/project-wacky-bat.html %}

{% include footer.html %}
