{% include header.html %}

{% include page-title-heading.html %}

<section id="skills">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-4 text-center skill">
        <div class="header">
          <i class="fa fa-android"></i>
          <h3><strong>Java</strong> and <strong>Android</strong></h3>
        </div>
        <p>I develop Android apps and have been programming in Java the longest. Currently, I am an Android Software Engineer at <a href="http://www.ocadotechnology.com/">Ocado Technology</a>.</p>
      </div>

      <div class="col-sm-6 col-md-4 text-center skill">
        <div class="header">
          <img src="img/unity3d.jpg" alt="Unity3D" />
          <h3><strong>C#</strong> and <strong>Unity3D</strong></h3>
        </div>
        <p>I created a mobile game in Unity3D and C#, that is available on <a href="http://apple.co/1H4JrFw">iOS</a> and <a href="http://bit.ly/1IDLQN7">Android</a>. Whilst at university, I also developed an <a href="https://github.com/andrewlord1990/resonance-game">Xbox 360 game</a>          in C# as part of a team</p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-sm-6 col-md-4 text-center skill">
        <div class="header">
          <i class="fa fa-html5"></i>
          <h3><strong>HTML</strong> and <strong>CSS</strong></h3>
        </div>
        <p>I design responsive websites using HTML, CSS and JavaScript. I designed and developed this website, which scales appropriately for different screen sizes.</p>
      </div>

      <div class="col-sm-6 col-md-4 text-center skill">
        <div class="header">
          <img src="img/python.png" alt="Python" />
          <h3><strong>Python</strong> and <strong>Shell</strong></h3>
        </div>
        <p>I have a small amount of experience in Python and Shell scripting. Most recently, writing a <a href="https://github.com/andrewlord1990/android-resize-drawable-script">shell script to resize Android drawables</a>, with lots of customisation.</p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-sm-6 col-md-4 text-center skill">
        <div class="header">
          <i class="fa fa-git"></i>
          <h3><strong>Git</strong> source control</h3>
        </div>
        <p>I use Git to manage all of my programming projects. Some of my projects are hosted on <a href="https://github.com/andrewlord1990">Github</a>, on which I also contribute to open source projects.</p>
      </div>

      <div class="col-sm-6 col-md-4 text-center skill">
        <div class="header">
          <img src="img/android-studio.png" alt="Android Studio" />
          <h3><strong>Android Studio</strong></h3>
        </div>
        <p>I use Android Studio for all of my Android development, using the Gradle build system. This has given me some experience in writing custom Gradle script behaviour.</p>
      </div>
    </div>

  </div>
</section>

<div id="learn-quote" class="quote-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="quote-body">“Computers themselves, and software yet to be developed, will revolutionize the way we learn.”</p>
        <p class="quote-author">Steve Jobs</p>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
