{% include header.html %}

{% include page-title-heading.html %}

<section id="work">
    <div class="container">
        <ul class="timeline">
            <li>
                <div class="timeline-badge ocado"><i class="fa fa-android"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Android Software Engineer</h4>
                        <h6><a href="http://www.ocadotechnology.co.uk/">Ocado Technology</a>, Hatfield</h6>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> September 2013 - Present</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>Key member within the mobile team, working in an Agile environment on the Ocado Android app, a grocery shopping app. Introduced many new technologies to the code base and have personally improved code quality and productivity. Design, develop, test, support and deploy Ocado Android applications, involving all stages of the product life-cycle.</p>
                        <p class="google-play-badge">
                            <a href="https://play.google.com/store/apps/details?id=com.ocado.mobile.android">
                                <img src="img/google-play-badge.png" alt="Google Play Store Link">
                            </a>
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge snsys"><i class="fa fa-line-chart"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Summer Intern</h4>
                        <h6><a href="http://www.snsys.com/">SN Systems, Sony Computer Entertainment</a>, Bristol</h6>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> July - September 2012</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>Design, development and documentation of a test result visualisation system. Development involved a HTML and JavaScript interface, with a Python backend web server, that collects data from the MongoDB database and the Perforce version control system.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge crosscrown"><i class="fa fa-html5"></i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Freelance Software Developer</h4>
                        <h6><a href="http://www.rugbycarehomes.co.uk/">Crosscrown Ltd</a>, Rugby</h6>
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> July 2011 - Present</small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>Summer of 2011 involved the specification, design and development of a care plan system for the company's group of care homes, written in C#. Since then work has involved, writing from scratch, maintaining and providing support for their company website. A new responsive version of the website was recently developed using Bootstrap.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<div id="create-quote" class="quote-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="quote-body">“What I cannot create, I do not understand.”</p>
                <p class="quote-author">Richard Feynman</p>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
